.page-proced {
    a {
        color: $c-brown;
    }

    .proced {
        margin: 20px 0 100px 0;
    }

    .intro {
        background-image: none;
        height: 20vh;

        .wrapper {
            display: none;
        }
    }

    .swiper {
        width: 600px;
        height: 300px;
    }

    .demotable {
        margin: 20px 0;

        td {
            position: absolute;
            margin-top: -42px;
            right: 160px;
            font-size: 30px;
        }

        th {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            animation: ani .2s forwards;
        }

        @keyframes ani {
            0% {
                transform: translateY(-25%);
            }

            100% {
                transform: translateY(0);
            }
        }

        .proced-card {
            width: 23%;
            box-shadow: 4px 4px 20px $c-brown-1;
            margin: 10px 5px;
            border-radius: 15px;


            .proced-card-img {
                img {
                    max-width: 100%;
                }
            }

            .proced-card-text {
                background-color: $c-brown-1;
                border-radius: 0 0 13px 13px;

                h3 {
                    padding: 8px;
                }
            }
        }
    }
}

// Dropdown
.demotable {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.demotable thead {
    font-size: small;
    text-align: right;
}


.demotable tbody tr:nth-of-type(1) th {
    padding: 20px 0;
    background: $c-brown-1;
}

.demotable a[href^="#all-1"],
.demotable a[href="#close-1"] {
    text-decoration: none;
    border-bottom: 1px dashed;
}

[id^="all-1"] {
    position: fixed;
}

[id^="all-1"]:target+table a[href^="#all-1"],
[id^="all-1"]:not(:target)+table tbody tr:nth-of-type(n+2),
/* это порядковый номер tr, после которого строки будут изначально удалены (включительно) */
[id^="all-1"]:not(:target)+table a[href="#close-1"] {
    display: none;
}

// //////////////////////////////////////////////////////////////////////////////////

.demotable a[href^="#all-2"],
.demotable a[href="#close-2"] {
    text-decoration: none;
    border-bottom: 1px dashed;
}

[id^="all-2"] {
    position: fixed;
}

[id^="all-2"]:target+table a[href^="#all-2"],
[id^="all-2"]:not(:target)+table tbody tr:nth-of-type(n+2),
/* это порядковый номер tr, после которого строки будут изначально удалены (включительно) */
[id^="all-2"]:not(:target)+table a[href="#close-2"] {
    display: none;
}

// //////////////////////////////////////////////////////////////////////////////////

.demotable a[href^="#all-3"],
.demotable a[href="#close-3"] {
    text-decoration: none;
    border-bottom: 1px dashed;
}

[id^="all-3"] {
    position: fixed;
}

[id^="all-3"]:target+table a[href^="#all"],
[id^="all-3"]:not(:target)+table tbody tr:nth-of-type(n+2),
/* это порядковый номер tr, после которого строки будут изначально удалены (включительно) */
[id^="all-3"]:not(:target)+table a[href="#close-3"] {
    display: none;
}