.page-clinic {
    .intro {
        background-image: none;
        height: 10vh;
    }

    .clinic-about {
        margin-top: 70px;
    }

    .lazer {
        margin: 0;
    }

    .diploms {
        img {
            max-width: 100%;
        }
    }
}