.page-doctor {
    .doctor {
        background-color: $c-white;
    }

    .intro {
        background-image: none;
        height: 20vh;

        .wrapper {
            display: none;
        }
    }
}