.page-lazer {
    .intro {
        background-image: none;
        height: 20vh;

        .wrapper {
            display: none;
        }
    }

    .swiper {
        width: 600px;
        height: 300px;
    }

    .lazer {
        margin: 0;
    }
}