$c-black: #000;
$c-black-1: #0a0a14;
$c-black-light: #161626;
$c-brown: #AE7957;
$c-brown-1: #F8D8C3;
$c-brown-2: #b68768;
$c-grey: #ffffff1a;
$c-grey-1: #9d9d9d;
$c-grey-2: #5c5c5c;
$c-white: #ffffff;