$c-black: #000;
$c-black-1: #0a0a14;
$c-black-light: #161626;
$c-grey: #ffffff1a;
$c-blue-dark: #252536f2;
$c-blue-background: #212132;
$c-white: #ffffff;
$c-white-1: #7d8196;
$c-white-2: #383c51;
$c-red: #da0e30;
$c-red-1: #ff0015;
$c-red-dark: #9a021b;
$c-red-brown: #de593e;
$c-yellow: #e8ce3a;
$c-aqua: #17eada;
$c-green: #4ccd4e;
$c-green-dark: #349b36;